.content(ng-controller='AboutCtrl')
  h1.pagetitle Who, Exactly?
  .about-wrap
    h2 I am a web designer.
    p I build websites like this one. You can see more of my work 
      a(href='/portfolio') here
      span .
    h2 I am a graphic designer.
    p I make vector art with Affinity Designer. Peep 
      a(href='/photos') here
      span .
    h2 I fancy myself a bit of a philosopher.
    p Occasionally I write stuff down 
      a(href='/musings') here
      span .
    h2 If you want to get in touch with me:
    p Don't hesitate to click 
      a(href='/contact') here
      span .  