.content
  h1.pagetitle Contact
  .about-wrap
    h2 I am a person.
    p I live in Richmond, VA.
    h2 I use computers
    p my email address is 
      a(href='mailto:ntobat@gmail.com') ntobat@gmail.com
    h2 and phones
    p my phone number is 703 336 2491
    h2 and I even have a LinkedIn and a résumé!
    a(target='_blank' href='https://www.linkedin.com/in/nicktobat') LinkedIn 
      i(class='glyphicon glyphicon-new-window')
    &nbsp;&nbsp;&nbsp;&nbsp;
    a(target='_blank' href='/images/resume.pdf') Résumé 
      i(class='glyphicon glyphicon-new-window')