doctype html
html(lang='en', ng-app='nickyT')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers/index.js')
  body
      header.header
      h1.title NICHOLAS TOBAT
      ul.navbar
        li
          a.about(href='/about') About
        li
          a.portfolio(href='#/portfolio') Portfolio
        li
          a.photos(href='/photos') Photos
        li
          a.musings(href='/musings') Musings

    block content
