.content(ng-controller="PhotosCtrl")
  h1.pagetitle Images
  br
  p.insta For another perspective, check out my 
    a(target='_blank' href='//instagram.com/nicktobat') instagram
    span .
    hr
  p.images A sample of vector images I created using Affinity Designer:
  .photowrap
    a.photos(href='{{photo.src}}' ng-repeat='photo in photos')
      img(class='photo img-responsive' ng-src='{{photo.src}}')