.content(ng-controller="PhotosCtrl")
  h1.pagetitle Images
  br
  p.insta For another perspective, check out my 
    a(target='_blank' href='//instagram.com/nicktobat') instagram
    span .
    hr
  p.images Vector images I created using Affinity Designer:
  .photowrap
    .smallz(ng-repeat='photo in photos')
      a.photos(href='' ng-click='photo.showme=true')
        img(class='photo img-responsive' ng-src='{{photo.src}}')
      .lightbox(ng-show='photo.showme')
        .largez
          a.photos(href='')
            a.close(ng-click='photo.showme=false') x
            img(class='lbphoto img-responsive' ng-src='{{larges[photo.numbah].src}}')
        .overlaid(ng-class="{shown: photo.showme}")