.content(ng-controller='PortfolioCtrl')
  h1.pagetitle Portfolio
  .sample-wrap
    .sample(ng-repeat='sample in samples')
      a.samplink(target='_blank' href='{{sample.link}}')
        img(src='/images/{{sample.imgurl}}')
      p.sample-name {{ sample.name }}
      p.sdesc {{ sample.sdesc }}
      a.sample-link(target='_blank' ng-href='{{ sample.link }}') Launch Site 
        i(class='glyphicon glyphicon-new-window')