.content
  .vcu-banner
    a.app-nav(href='/vcu-3') 
      span(class="glyphicon glyphicon-arrow-left")
      span &nbsp;&nbsp;Previous
    img.banner-img(class='img-responsive' src='/vcu-img/triangle.png' style='height: 50px; width: auto;')
    h1.pagetitle &nbsp;&nbsp;SECTION 4
    a.app-nav(href='/vcu-5') 
      span Next&nbsp;&nbsp;
      span(class="glyphicon glyphicon-arrow-right")
  h2(style='text-align: center') Three Innovations
  .wrapper
    