.content
  h1.pagetitle Welcome, Brandcenter!
  h3(style='text-align: center') Click the boxes below to navigate through my application.
  .app-wrapper
    a(href='/vcu-1')
      .app-section
        .bgrd
          p Section 1
    a(href='/vcu-2')
      .app-section
        .bgrd
          p Section 2
    a(href='/vcu-3')
      .app-section
        .bgrd
          p Section 3
    a(href='/vcu-4')
      .app-section
        .bgrd
          p Section 4
    a(href='/vcu-5')
      .app-section
        .bgrd
          p Section 5
    a(href='/vcu-6')
      .app-section
        .bgrd
          p Section 6